<?xml version="1.0" encoding="utf-8" ?>
<des xmlns="http://tecware-gmbh.de/dev/des/2014" version="330" >
	<server logpath="Log">
		<resolve>..\..\SimpleDbg\bin\Debug</resolve>
	</server>
	
	<http realm="Test Server">
	</http>
	
	<luaengine displayname="LuaEngine" allowDebug="true" script="debugEnv">
		<script id="debugEnv" filename="InitDebug.lua" />
	</luaengine>
</des>