<?xml version="1.0" encoding="utf-8" ?>
<des xmlns="http://tecware-gmbh.de/dev/des/2014" version="330" >
	<server logpath="Log">
		<resolve>..\..\SimpleDbg\bin\Debug</resolve>
	</server>

	<http realm="Test Server">
	</http>
	<cron />
	<luaengine displayname="LuaEngine" allowDebug="true" script="debugEnv">
		<script id="debugEnv" filename="InitDebug.lua" />
		<script id="cron" filename="cron.lua"/>
		<tests id="tests" filename="tests.lua" />
	</luaengine>

	<luaCronJob name="testCron" bound="0,1,*" script="cron" />
</des>